/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
    .btn {
      border-radius: 5px;
      font-style: normal;
        background-color:  #eb8c00 !important;
      }
}
  

.bgGrey{
  background-color: #e7e4dd;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
